#main-contact{
    .container{
        padding-bottom: 16px;
        p {
            font-size: map-get($font-size, small);
        }
        & #form-contacto{
            font-size: map-get($font-size, small);
            height: 450px;
            & .btn{
                font-size: map-get($font-size, small);
            }
        }
        & #imagen-contacto{
            background-image: url(../img/taller1.jpeg);
            @include bg (center, no-repeat, cover);
            height: 450px;
            width: 90%;
        }
    }
}

// queries

@media screen and (min-width: 768px){
    #main-contact{
        .container{
            p {
                padding-bottom: 0px;
            }
            & #imagen-contacto{
                height: 500px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #main-contact {
        .container{
            #imagen-contacto {
                height: 600px;
                margin-bottom: 45px;
                @include bg (center, no-repeat, 80%);
            }
        }
    }
}


