.navbar{
    background-color: $color3 !important;
    border-bottom: 2px solid $color1;
    & .navbar-brand{
        font-size: 22px !important;
    }
}

#navbarNavDropdown{
    background-color: $color3;
        justify-content:end !important;
        & .nav-link {
            font-size: 14px;
            color: $color1 !important;
        }
        a:hover{
            color:$color2 !important;
        }
}

.cart-icon{
    position: relative !important;
    // background-color: aqua !important;
}

.cart-amount{
    position: absolute;
    top: 2px;
    right: 0px;
    border-radius: 50%;
    background-color: black;
    color: white;
    height: 17px;
    width: 17px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

