.offcanvas {
    font-family: 'Montserrat', sans-serif !important; 
}

#carrito-vacio{
    background-color: aqua;
    border: 2px solid black;
}

.offcanvas {
    background-color: aqua;
    border: 2px solid black;
}

.modal-body{
    background-color: red;
    border: 2px solid black;
}

.carrito-img img {
    height: 100px;
    width: 87px;
    object-position:center;
}

.carrito-desc{
    /* display: flex;
    flex-direction: row; */
    background-color: violet;
    border: 1px solid black;
    
}

.carrito-item{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    background-color: green;
}