@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
.navbar {
  background-color: white !important;
  border-bottom: 2px solid #000;
}

.navbar .navbar-brand {
  font-size: 22px !important;
}

#navbarNavDropdown {
  background-color: white;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

#navbarNavDropdown .nav-link {
  font-size: 14px;
  color: #000 !important;
}

#navbarNavDropdown a:hover {
  color: #bfb8ae !important;
}

#carousel-index {
  height: 170px;
}

#carousel-index .carousel-item {
  height: 170px;
}

.secciones1-2-3 {
  padding: 0px;
}

.secciones1-2-3 #sec1 p {
  width: auto;
  text-align: right;
  font-size: 14px;
  padding-top: 41.5px;
  padding-bottom: 41.5px;
  margin-bottom: 0px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.secciones1-2-3 #sec1 p a {
  text-decoration: underline;
  color: #000;
}

.secciones1-2-3 #sec2 #img-izq {
  height: 400px;
  background-image: url(../imagenes/img-taller.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secciones1-2-3 #sec2 #img-izq a {
  color: white;
  text-decoration: none;
}

.secciones1-2-3 #sec2 #img-der {
  height: 400px;
  background-image: url(../imagenes/ceramica4v2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secciones1-2-3 #sec2 #img-der #btnIndex2 {
  font-size: 16px;
}

#btnIndex1, .secciones1-2-3 #sec2 #img-izq a .boton1, .secciones1-2-3 #sec2 #img-der #btnIndex2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.items-favoritos {
  padding: 0px;
}

.items-favoritos #cuadricula {
  margin: 10px 10px 0px 10px;
}

.items-favoritos #cuadricula .titulo h3 {
  font-size: 14px;
  padding-top: 20px;
}

.items-favoritos #cuadricula .titulo p {
  font-size: 12px;
  text-align: right;
}

.items-favoritos .item-destacado {
  height: 450px;
  padding: 0px;
}

.items-favoritos .item-destacado .product-img {
  height: 400px;
  width: 93,75%;
  overflow: hidden;
}

.items-favoritos .item-destacado .product-img img {
  height: 400px;
  width: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.items-favoritos .item-destacado .product-img :hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.items-favoritos .item-destacado .product-name {
  height: 50px;
  width: 93,75%;
}

.items-favoritos .item-destacado .product-name h5 {
  font-size: 14px;
  text-align: start;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}

.items-favoritos .item-destacado .product-name h5 a {
  color: black;
  text-decoration: none;
}

.items-favoritos .item-destacado .product-name :hover a {
  color: #bfb8ae;
}

.items-favoritos #item-lg {
  margin: 0px 10px 0px 10px;
}

@media screen and (min-width: 481px) {
  #carousel-index {
    height: 250px;
  }
  #carousel-index .carousel-item {
    height: 250px;
  }
  .items-favoritos {
    padding: 0px;
    width: 100%;
  }
  .items-favoritos #cuadricula {
    margin: 0px;
  }
  .items-favoritos #cuadricula .titulo {
    padding: 0px 10px 0px 10px;
    width: 50%;
  }
  .items-favoritos .item-destacado {
    height: 350px;
    width: 50%;
    margin-bottom: 10px;
  }
  .items-favoritos .item-destacado .product-img {
    height: 300px;
    width: 100%;
  }
  .items-favoritos .item-destacado .product-img img {
    height: 300px;
    width: 100%;
  }
  .items-favoritos .item-destacado .product-name {
    height: 50px;
    width: 100%;
  }
  .items-favoritos #item-lg {
    width: 100%;
    height: auto;
    margin: 0px 0px 10px 0px;
  }
  .items-favoritos #item-lg .product-img {
    height: 600px;
    width: 100%;
  }
  .items-favoritos #item-lg .product-img img {
    height: 600px;
    width: 100%;
  }
  .items-favoritos #item-lg .product-name {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #carousel-index {
    height: 400px;
  }
  #carousel-index .carousel-item {
    height: 400px;
  }
  .items-favoritos {
    padding: 0px;
  }
  .items-favoritos #cuadricula {
    margin: 0px;
  }
  .items-favoritos #cuadricula .titulo {
    padding: 0px 10px 0px 10px;
  }
  .items-favoritos .item-destacado {
    height: 300px;
    width: 50%;
    margin-bottom: 10px;
  }
  .items-favoritos .item-destacado .product-img {
    height: 250px;
    width: 100%;
  }
  .items-favoritos .item-destacado .product-img img {
    height: 250px;
    width: 100%;
  }
  .items-favoritos #item-lg {
    height: auto;
    width: 50%;
    margin: 0px 0px 10px 0px;
  }
  .items-favoritos #item-lg .product-img {
    height: 560px;
    width: 100%;
  }
  .items-favoritos #item-lg .product-img img {
    height: 560px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  #carousel-index {
    height: 540px;
  }
  #carousel-index .carousel-item {
    height: 540px;
  }
  .secciones1-2-3 #sec1 p {
    font-size: 16px;
  }
  .secciones1-2-3 #sec2 #img-izq {
    height: 500px;
  }
  .secciones1-2-3 #sec2 #img-izq .boton1 {
    font-size: 22px;
  }
  .secciones1-2-3 #sec2 #img-der {
    height: 500px;
  }
  .secciones1-2-3 #sec2 #img-der #btn2 {
    font-size: 22px;
  }
  .items-favoritos #cuadricula .titulo h3 {
    font-size: 16px;
  }
  .items-favoritos #cuadricula .titulo p {
    font-size: 14px;
  }
  .items-favoritos .item-destacado {
    height: 400px;
  }
  .items-favoritos .item-destacado .product-img {
    height: 350px;
  }
  .items-favoritos .item-destacado .product-img img {
    height: 350px;
  }
  .items-favoritos #item-lg {
    height: auto;
  }
  .items-favoritos #item-lg .product-img {
    height: 760px;
  }
  .items-favoritos #item-lg .product-img img {
    height: 760px;
  }
}

@media screen and (min-width: 1440px) {
  #carousel-index {
    height: 750px;
  }
  #carousel-index .carousel-item {
    height: 750px;
  }
  .secciones1-2-3 #sec2 #img-izq {
    height: 600px;
  }
  .secciones1-2-3 #sec2 #img-izq .boton1 {
    font-size: 25px;
  }
  .secciones1-2-3 #sec2 #img-der {
    height: 600px;
  }
  .secciones1-2-3 #sec2 #img-der #btn2 {
    font-size: 25px;
  }
  .items-favoritos .item-destacado {
    height: auto;
  }
  .items-favoritos .item-destacado .product-img {
    height: 460px;
  }
  .items-favoritos .item-destacado .product-img img {
    height: 460px;
  }
  .items-favoritos #item-lg {
    height: auto;
  }
  .items-favoritos #item-lg .product-img {
    height: 980px;
  }
  .items-favoritos #item-lg .product-img img {
    height: 980px;
  }
}

footer {
  height: 60px;
  border-top: #000 solid 1px;
}

footer ul li {
  font-size: 12px;
  display: inline-block;
  padding-left: 20px;
  padding-top: 23px;
}

footer ul li a {
  color: #000;
}

footer ul li a:hover {
  color: #bfb8ae;
  text-decoration: none;
}

#main-shop {
  width: 100%;
  height: 100%;
}

#main-shop .galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 20px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-shop .galeria .items {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-shop .galeria .items .product-img {
  height: 400px;
  width: 300px;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}

#main-shop .galeria .items .product-img img {
  height: 400px;
  width: 300px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#main-shop .galeria .items .product-img :hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#main-shop .galeria .items .product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  height: 35px;
  padding-top: 10px;
  padding-left: 10px;
  color: #000;
}

#main-shop .galeria .items .product-name h5 {
  font-size: 13px;
}

#main-shop .galeria .items .product-name h5 a {
  color: black;
  text-decoration: none;
}

#main-shop .galeria .items .product-name :hover a {
  color: #bfb8ae;
}

#main-shop .galeria .items .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
}

#main-shop .galeria .items .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
  padding: 10px 10px;
}

#main-shop .galeria .items .product-price .price {
  font-size: 12px;
  text-align: center;
  border: #000 solid 1px;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#main-shop .galeria .items .product-price .btn {
  font-size: 12px;
  border: #000 solid 1px;
  width: 50%;
}

@media screen and (min-width: 768px) {
  #main-shop .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  #main-shop .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  #main-shop .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form-newsletter {
  border-top: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-newsletter p {
  font-size: 14px;
  margin-bottom: 0;
  width: 300px;
  text-align: center;
}

.form-newsletter .form-inline {
  color: #000;
  font-size: 14px !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  padding-top: 10px;
}

.form-newsletter .form-inline .mr-sm-2 {
  margin-right: 10px;
}

.form-newsletter .form-inline .form-control-sm {
  border-bottom: #000 solid 1px !important;
}

.form-newsletter .form-inline .btn {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  border: #000 solid 1px !important;
  margin-left: 10px;
}

@media screen and (min-width: 481px) {
  .form-newsletter p {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#main-contact .container {
  padding-bottom: 16px;
}

#main-contact .container p {
  font-size: 14px;
}

#main-contact .container #form-contacto {
  font-size: 14px;
  height: 450px;
}

#main-contact .container #form-contacto .btn {
  font-size: 14px;
}

#main-contact .container #imagen-contacto {
  background-image: url(../img/taller1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  #main-contact .container p {
    padding-bottom: 0px;
  }
  #main-contact .container #imagen-contacto {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  #main-contact .container #imagen-contacto {
    height: 600px;
    margin-bottom: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }
}

.container {
  padding-bottom: 16px;
}

.container .row p {
  font-size: 14px;
  padding-bottom: 45px;
}

.container .row p a {
  color: black;
  text-decoration: underline;
}

.container .row #img-taller {
  background-image: url(../imagenes/taller2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    padding-bottom: 45px;
  }
  .container .row #img-taller {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .container .row #img-taller {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }
}

.breadcrumb {
  padding: 10px 0px 0px 10px;
  font-size: 14px;
  background-color: white;
}

.breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #000000;
}

.breadcrumb :hover a {
  color: #bfb8ae;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}
/*# sourceMappingURL=estilos.css.map */